<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>UNIQUE - ToDo App</title>

    <!-- Bootstrap core CSS -->
    <link href="~/dashboard/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="~/dashboard/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/dashboard/assets/css/style.css" rel="stylesheet">
    <link href="~/dashboard/assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>UNIQUE TO DO</b></a>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" asp-controller="User" asp-action="SignOut">SignOut</a></li>
                </ul>
            </div>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    <p class="centered"><a href="profile.html"><img src="~/dashboard/assets/img/ui-sam.jpg"
                                class="img-circle" width="60"></a></p>
                    <h5 class="centered">@User.Identity.Name</h5>

                    <li class="mt">
                        <a href="index.html">
                            <i class="fa fa-dashboard"></i>
                            <span>Customer Dashboard</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-desktop"></i>
                            <span>Customer Page</span>
                        </a>
                        <ul class="sub">

                            <li><a asp-controller="Customer" asp-action="Profile">View personal profile</a></li>
                            
                            <li><a asp-controller="Customer" asp-action="Update">Edit Profile</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-cogs"></i>
                            <span>Todo task</span>
                        </a>
                        <ul class="sub">
                            <li><a asp-controller="Todoitem" asp-action="Create">Add task</a></li>

                            @* <li><a asp-controller="Todoitem" asp-action="GetAllTodos">View all task</a></li> *@

                            <li><a asp-controller="Todoitem" asp-action="All">All task</a></li>

                            <li><a asp-controller="Todoitem" asp-action="Today">Today's task</a></li>

                            <li><a asp-controller="Todoitem" asp-action="Skipped">Skipped task</a></li>

                            <li><a asp-controller="Todoitem" asp-action="Upcoming">Upcoming task</a></li>

                            <li><a asp-controller="Todoitem" asp-action="TaskDone">Done task</a></li>

                            <li><a asp-controller="Todoitem" asp-action="GetEachCustomerTaskByDate">Search task by date</a></li>

                            <li><a asp-controller="Todoitem" asp-action="GetEachCustomerTaskByTime">Search task by time</a></li>

                            <li><a asp-controller="Todoitem" asp-action="GetEachCustomerTaskByDay">Search task by day</a></li>
                        </ul>
                    </li>
                    @* <li class="sub-menu">
                        <a class="active" href="javascript:;">
                            <i class="fa fa-book"></i>
                            <span>Extra Pages</span>
                        </a>
                        <ul class="sub">
                           
                        </ul>
                    </li> *@

                </ul>
            </div>
        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
        <!--main content start-->

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                <a href="blank.html#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/dashboard/assets/js/jquery.js"></script>
    <script src="~/dashboard/assets/js/bootstrap.min.js"></script>
    <script src="~/dashboard/assets/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/dashboard/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="~/dashboard/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/dashboard/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/dashboard/assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="~/dashboard/assets/js/common-scripts.js"></script>

    <!--script for this page-->

    <script>
        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

    </script>

</body>

</html>
